@media (max-width: 500px) {
    #menutext {
        display: none !important;
    }
}

.slicknav_menu {
	prependTo: nav;
}

#menu {
    display:none;
}


body {
    padding:0;
    margin: auto;
    background-color: #eff0ef;
    font-family: 'Open Sans', sans-serif;
}
header {
    position: relative;
    display: table;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    border-top: 3px solid #00769D;
    border-bottom: 3px solid #00769D;
    width: 100%;
}
h1 {font-size: 2.25em;
    display: table-cell;
    padding-left:.3em;
    width: 100%;
    text-align: left;
    color: #00769D;
}
#menutext {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

nav {
    position: relative;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}

h2 {
    font-size: 1.5em;
    margin: .25em;
    padding: 0;
    color: #00769D;
}

p {
    width: 95%;
    margin: 0 1.5em 1em 1.5em;
}

section {
        max-width: 900px;
        margin: auto;
}

.gallery {
    display:table;
    text-align: center;
}
.gallery a {
padding: .3em;
}

.gallerythmb {
	width: 30%;
	min-width: 150px;
	max-width: 250px;
}
.arrow {
    margin: 0;
    padding: 0;
    background-color: blue;
}

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?cu0gtn');
	src:url('fonts/icomoon.eot?#iefixcu0gtn') format('embedded-opentype'),
		url('fonts/icomoon.ttf?cu0gtn') format('truetype'),
		url('fonts/icomoon.woff?cu0gtn') format('woff'),
		url('fonts/icomoon.svg?cu0gtn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-grin:before {
	content: "\e9e9";
}
.icon-cool:before {
	content: "\e9eb";
}
.icon-arrow-right:before {
	content: "\ea34";
}
.icon-arrow-down:before {
	content: "\ea36";
}
.icon-arrow-right2:before {
	content: "\ea3c";
}
.icon-arrow-down2:before {
	content: "\ea3e";
}
.icon-circle-right:before {
	content: "\ea42";
}
.icon-circle-down:before {
	content: "\ea43";
}
.icon-facebook2:before {
	content: "\ea8d";
}
